@import url('https://fonts.googleapis.com/css2?family=Lato');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: wheat;
}
html{
    color: #000;
    font: 18px/1.618 sans-serif;
    font-family: 'Lato', sans-serif;
}
a{
    color: #3877a0;
    padding: 0 .5rem;
    text-decoration: none;
}

.buy_autoClicker{
    background-color: grey;
}
.buy_multiplier{
    background-color: grey;
}
.available_button{
    background-color: white;
}

.fred_content{
    display: none;
}
.inspiration_content{
    display: none;
}
.contact_content{
    display: none;
}
.show{
    display: block;
}